body{
    background-color: rgb(238, 235, 230);
    font-family: Arial, Helvetica, sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(18, 18, 18, 0.756);
}
footer{
    left: 0;
    bottom: 0;
    width: 100%
}
.AboutMe{
    background-color: rgb(63, 59, 59);
    color: rgb(245, 239, 239);
    text-align: center;
    font-size: medium;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
}
.ContactInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}
.AllProjects{
    text-align: center;
    font-size: large;
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    margin-left: 4%;
    margin-right: 4%;
}
.Header{
    text-align: center;
    color: rgb(69, 15, 171);
    font-size: xx-large;
    font-style: italic;
    display: flex;
    flex-direction: column;
    column-gap: 60px;
    align-items: center;
}
.Meny{
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}
h1{
    margin-bottom: 0%;
}
h3{
    margin-top: 0%;
    padding-right: 7.5%;
}
.DescriptionHeader{
    font-size:x-large;
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-right: 100px;
    margin-bottom: 10%;
}
#DescriptionText{
    color: black;
    font-size: medium;
    margin-left: 5%;
    margin-right: 15%;
}
#AboutMe{
    color: rgb(237, 81, 14);
    font-size: xx-large;
    margin-left: 10px;
    margin-top: 10%;
    padding-left: 15%;
}
#logofrombeginning{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1%;
    margin-left: 1%;
    margin-top: 3%;
    padding-bottom: 3%;
}
#mylogodesigns{
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}
#malmöideella{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: large;
    text-align: center;
}
#Sistatext{
    padding-left: 20%;
    padding-right: 20%;
}
nav{
    padding: 3rem;
    display: flex;
    justify-content: center;
}
.nav-links{
    display: flex;
    list-style:none;
    gap: 5rem;
    font-size: 1.2rem;
}
.nav-links a{
    text-decoration: none;
    color: #41413f;
    font-weight: bold;
}
.nav-item{
    position: relative;

}
.active-nav{
    height: 3px;
    background-color: rgb(237, 81, 14);
    border-radius: 1rem;
    position: absolute;
    left:0;
    bottom:-5px;
    width: 100%;
}